*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::-webkit-scrollbar{
    display: none;
}
.loader{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.matter
{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}
.load{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.452);
}
.bc {
    height: 100px;
    width: 100px;
    border-bottom: 3px solid black;
    position: relative;
    border-radius: 100%;
    animation: rotate linear 3s 1;
}

.img img {
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 100%;
    animation: imgrotate linear 3s 1;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(360deg);
    }

    50% {
        transform: rotate(720deg);
    }

    75% {
        transform: rotate(1080deg);
    }

    100% {
        transform: scale(20);
        opacity: 0;
        display: none;
    }
}

@keyframes imgrotate {
    0% {
        transform: rotate(1080deg);
    }

    25% {
        transform: rotate(720deg);
    }

    50% {
        transform: rotate(360deg);
    }

    75% {
        transform: rotate(0deg);
    }

    100% {
        transform: scale(1);
    }
}
.navbar{
    height: 15vh;
    width: 100%;
    background-color: rgba(51, 49, 49, 0.658);
    display: flex;
    justify-content: space-between;
    position: fixed;
    transform: translateY(0%);
    top: 0;
    left: 0;
    z-index: 10;
}
.navbar img{
    height: 70px;
    width: 70px;
    padding: 10px;
    opacity: 1;
}
.navbar ul{
    width: 400px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
}
.navbar ul li a{
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar ul li a:hover::after{
    color: antiquewhite;
    transform: scale(1,1);
    transition: all ease 0.5s;
    /* animation: abtn 2s 1; */
    /* border-bottom: 2px solid aqua; */
}
.navbar ul li a::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 3px;
    width: 100%;
    background-color: rgb(73, 181, 196);
    transform: scale(0, 0);
}
#banner{
    height: 100vh;
    width: 100%;
    position: relative;
}
#banner img{
    height: 100vh;
    width: 100%;
    z-index: -1;
    position: absolute;
}
#banner div{
    position: absolute;
    height: 100vh; 
    width: 100%;
    opacity: 0.5;
    z-index: 0;
    background: linear-gradient(to top,rgb(65, 64, 64),rgb(29, 28, 28),rgb(19, 18, 18));
}
#banner h1{
    position: absolute;
    text-transform: capitalize;
    color: white;
    opacity: 1; 
    z-index: 3;
    top: 50%;
    left: 30%;
    font-size: 40px;
}
.btn{
    position: absolute;
    top: 65%;
    left: 45%;
    padding: 10px;
    border-radius: 10px;
    border: black;
    background-color: rgb(255, 255, 255);
    color: black;
    height: 4rem;
    width: 10rem;
    font-size: 40px;
    animation: button 2s infinite;
    cursor: pointer;
}
@keyframes button{
    0%{
        transition: 2s;
        transform: scale(0.75);
    }
    50%{
            transition: 2s;
            transform: scale(1);
    }
    100%{
        transition: 2s;
        transform: scale(0.75);
    }
}
#course{
    width: 100%;
    height: 170vh;
    background-color: #c3ccce;
    position: relative;
}
#course h1{
    position: absolute;
    left: 37%;
    top: 2.5%;
    /* right: auto; */
    padding-top: 50px;
    font-size: 50px;
    color: rgb(51, 149, 214);
    position: relative;
    display: inline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#course h1::after{
    align-items: center;
    position: absolute;
    bottom: -20px;
    left: 0;
    content: "";
    height: 10px;
    width: 40%;
    background-color: rgb(51, 149, 214);
    transform: translateX(75%);
    
}
#courses{
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 70px;
    background-color: #c3ccce;
}
.card{
    height: 350px;
    width: 350px;
    background-color: #f3f0f0;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 17px rgb(112, 111, 111);
    /* align-items: center; */
}
.card:hover{
    transition: 0.5s;
    box-shadow: 15px 15px 27px  rgb(112, 111, 111);
    cursor: pointer;
    transform: scale(1.01);
}
.card img{
    width: 350px;
    height: 250px;
    border-radius: 10px;
}
.card h2{
    color: rgb(53, 52, 52);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btnn{
    padding: 10px;
        border-radius: 10px;
        border: black;
        background-color: rgb(130, 177, 192);
        color: black;
        box-shadow: 5px 5px 7px rgb(112, 111, 111);
        height: 4rem;
        width: 15rem;
        font-size: 40px;
        cursor: pointer;
        position: absolute;
        left: 42%;
        bottom: 5%;
}

.btnn:hover{
    box-shadow: 7px 7px 9px rgb(112, 111, 111);
    transform: scale(1.01);
    transition: 0.5s;
}